.text-block {
  margin: 7vw;
  max-width: 800px;
  font-family: monospace;
  font-size: clamp(14px, 4vw, 32px);
  color: #fff;
}

.text-block p {
  margin: 0;
  text-align: center;
}

.scrambled-line {
  display: inline;
}

.char {
  will-change: contents;
  display: inline-block;
  vertical-align: top;
}
