@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
}

.container {
  padding: 2em 8em;
  font-family: "Segoe UI", sans-serif;
  background-color: #1b1b1b;
  min-height: 100dvh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.output,
.output * {
  user-select: text !important;
}

@media (max-width: 768px) {
  .container {
    padding: 1.2em 1em;
  }
}
