body {
  position: relative;
  margin: 0;
  font: 100%/1 system-ui;
  background: #fff;
  font-family: "Google Sans Code", monospace;
  user-select: none;
}

main {
  transition: 0.4s ease-in-out;
}

body.footer-pull main {
  transform: translateY(-80px) scale(0.95);
  transform-origin: bottom center;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
}

.animated-footer {
  position: relative;
  width: 100%;
  padding: 0rem 0rem 1rem 0rem;
  background: rgb(255, 255, 255);
  color: #6e6e6e;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  box-sizing: border-box;
}

.animated-footer a {
  text-decoration: none;
  color: #6e6e6e;
}

.animated-footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  body.footer-pull main {
    transform: translateY(-50px) scale(0.95);
  }

  .animated-footer {
    font-size: 14px;
  }
}
